<!DOCTYPE html>
<html>
<head>
   <%- include('global/head'); -%>
</head>
<body>

        <div class="container-fluid">
             <%- include('global/navigasi'); -%>

             <div class="row justify-content-md-center">
                 <div class="col-md-6 col-sm-6">
                    <section class="text-center">
                      <h1 id="userTxt"></h1>

                      <h2>WELCOME TO COSMOS!</h2>
                      <p>Your conseling monitoring solution.</p>
                    </section>
                </div>
            </div>
               <%- include('global/footer'); -%>
        </div>




       <%- include('global/library'); -%>
       <%- include('global/logincheck'); -%>

</body>


</html>
