<!DOCTYPE html>
<html>
<head>
   <%- include('global/head'); -%>
   <%- include('global/library'); -%>

</head>
<body>

        <div class="container-fluid">
             <%- include('global/navigasi'); -%>

             <div class="row justify-content-md-center">
                 <div class="col-md-6 col-sm-6">
                   <section class="home">
                      <h1><u>Announcement</u></h1>
                      <label >Pengumuman:</label>
                      <br>
                      <input  id="pengumumanTxt" type="text" class="form-control" placeholder="Masukkan pesan anda">
                      <br>
                      <label>Kategori:</label>
                      <br>
                      <select class="form-control" id="kategoriTxt">
                        <option>Pembayaran</option>
                        <option>Libur</option>
                     </select>
                     <br>

                     <button id="kirimBtn" class="btn btn-danger" type="button">Kirim</button>
                   </section>
                </div>
            </div>
             <%- include('global/footer'); -%>

        </div>

        <script type="text/javascript">
        let userName;

        firebase.auth().onAuthStateChanged(function(user) {
         if (user) {
           userName = user.displayName;

         }
        });


       $("#kirimBtn").click(function(){
           var pengumuman = $("#pengumumanTxt").val();
           var kategori = $("#kategoriTxt").val();


           db.ref('news/').push({
             user:userName,
             pengumuman:pengumuman,
             kategori:kategori
           });
           $("#laporanTxt").val("");
        });
        </script>




       <%- include('global/library'); -%>
       <%- include('global/logincheck'); -%>

</body>


</html>
