<!DOCTYPE html>
<html>
<head>
   <%- include('global/head'); -%>
   <%- include('global/library'); -%>
</head>
<body>

        <div class="container-fluid">
             <%- include('global/navigasi'); -%>

            <div class="row justify-content-md-center">
                <div class="col-md-6 col-sm-6">
                  <section class="home">
                      <h1><u>Report Page</u></h1>
                      <label >Laporan :</label>
                      <br>
                      <input  id="laporanTxt" type="text" class="form-control" placeholder="Masukkan pesan anda">
                      <br>
                      <label>Kategori Laporan :</label>
                      <br>
                      <select class="form-control" id="kategoriTxt">
                        <option>Infrastruktur Sekolah</option>
                        <option>Sistem Pendidikan</option>
                     </select>
                     <br>

                     <button id="kirimBtn" class="btn btn-danger" type="button">Kirim</button>
                   </section>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        let userName;

        firebase.auth().onAuthStateChanged(function(user) {
         if (user) {
           userName = user.displayName;

         }
        });


       $("#kirimBtn").click(function(){
           var laporan = $("#laporanTxt").val();
           var kategori = $("#kategoriTxt").val();


           db.ref('report/').push({
             user:userName,
             laporan:laporan,
             kategori:kategori
           });
           $("#pesanTxt").val("");
        });
        </script>






       <%- include('global/library'); -%>
       <%- include('global/logincheck'); -%>

</body>


</html>
