<!DOCTYPE html>
<html>
<head>
   <%- include('global/head'); -%>
      <%- include('global/library'); -%>
</head>
<body>

        <div class="container-fluid">
             <%- include('global/navigasi'); -%>

             <div class="row justify-content-md-center">
                 <div class="col-md-6 col-sm-6">
                    <section class="text-center">
                      <div id="app">
                        <div v-for="data in chat">
                          <ul>
                            <li>
                              <p class="text-left"><strong>{{data.user}}</strong></p>
                              <p class="text-left">{{data.laporan}}</p>
                                <h6 class="text-left text-white">Kategori : {{data.kategori}}</h6>
                            </li>

                          </ul>

                        </div>

                    </div>
                    </section>
                </div>

            </div>
             <%- include('global/footer'); -%>
        </div>
        <script type="text/javascript">
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {




            var app = new Vue({
             el: '#app',
             firebase: {
               chat: db.ref('report/')
             }
           });




          }
         });
        </script>




       <%- include('global/library'); -%>
       <%- include('global/logincheck'); -%>

</body>


</html>
